* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
   background-color: lightsalmon;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}   

.light-container {
    background-color: rgb(183, 97, 87);
    padding: 50px; 0px;
}

.dark-container {
    background-color: rgb(183, 101, 73);
    padding: 48px; 0px;
}

.button {
    text-decoration: none;
    color:black;
    display: inline-block; 
}

.primary {
    background-color: rgb(238, 109, 58);
    color: white;
    padding: 12px;
    border-radius: 22px; 
    font-weight: bold;
    margin-right: 12px;
}

.secondary {
    color: white;
    border: 3px solid rgb(236, 102, 48);
    padding: 12px;
    border-radius: 22px;
    font-weight: bold;
    margin-right: 12px;
}